# pip3 install --upgrade pip
typing-extensions==3.7.4.3
python-dateutil==2.8.2
packaging==21.2
flatbuffers==1.12
requests==2.31.0
chardet==4.0.0
elastic-transport==8.0.0
google-auth==2.15.0
protobuf==3.19.6
urllib3==1.26.2
grpcio==1.32.0
testresources
numpy==1.19.5
setuptools
scipy
scikit-learn==0.20.3
opencv-python==4.2.0.32
opencv-contrib-python==4.2.0.32
tensorflow==2.4.0
keras_applications
tensorflow-model-optimization==0.5.0
tensorflow-addons
matplotlib
tqdm
pillow
mnn
Cython
pycocotools
keras2onnx
tf2onnx==0.4.2
onnx
onnxruntime
tfcoreml==1.1
sympy
imgaug
imagecorruptions
bokeh
tidecv
pyproject-toml
keras==2.4.3
segmentation-models
keras_preprocessing
six
markupsafe==2.0.1
werkzeug==2.0.1
